# Secrets (local environment files are never committed)
.env.local

# CDK Build Artifacts
cdk/cdk.out/
cdk/cdk.out.inspect/
cdk/dist/
cdk/node_modules/

# CLI Internals
.cli/*

# Ephemeral Staging
.cache/*
*/staging/
*.zip

# Exception: Commit the State
!.cli/deployed-state.json
